.contact_section{
    background-color: black;
    padding:2rem;
}
.contact_title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.contact_title-divider{
    display: flex;
    width: 100%;

    align-items: center;
}
.contact_title-line{
    height: 3px;
    width: 100%;
    background-color: white;

}
.contact_title{
    font-weight: bolder;
    font-size: 5rem;
    letter-spacing: 5px;
    line-height: .9;
}

/* Form */
.contact_form{
    
}