#root {
  max-width: 1280px;
  margin: 0 auto;

}
.hero{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background:linear-gradient(0deg, rgba(0, 77, 192, 0.3), rgba(41, 41, 41, 0.568)),url("/DSC03454.jpg")  ;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 2rem 1.5rem;
  display: flex;
  flex-direction:column ;
  justify-content: start;

  
}
.hero_navbar{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex: 1;
}
.hero_logo-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex: 10;
  align-items: center;
}
.hero_logo-div_span-div{
  display: flex;
  color: yellow;
}






