#root {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}
.hero{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;

}

.hero_main-container{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background:linear-gradient(0deg, rgba(26, 26, 26, 0.623), rgba(29, 29, 29, 0.87)),url("/DSC03454.jpg")  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 1rem 0;
}
.main_a{
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.main_a.webdev{
  flex-direction: column-reverse;
}

.hero_a-span{
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.9;
  text-shadow: rgb(24, 24, 24) 1px 6px 10px;
}

.hero_divider-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--orange);
  width: 2px;
  height: 90%;
}
.hero_divider-div-shape{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F06711;
  height: 8px;
  width: 8px;
}
.hero_divider-div-shape.top{
  top: 10%;
}
.hero_divider-div-shape.bottom{
  top: 90%;
}



