.dev_main{
    background-color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
 /*    align-items: center; */
    box-sizing: border-box;
}
.dev_hero{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
  }
  .dev_hero-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}
.dev_hero-span{
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 2.8rem;
  color: white;
  opacity: 0;
  animation: textAnimation 1s ease-in-out forwards;
}
.dev_hero-span.yellow{
  color: var(--third-color);
}
@keyframes textAnimation {
  from{opacity: 0;}
  to{opacity: 100;}
}
.dev_hero-span.white{
  animation-delay: .5s;
}

.dev_hero-div{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.dev_hero-tag{
  padding: 0 1rem ;
  opacity: 0;
  animation: textAnimation 1s ease-in-out forwards;
}
.dev_hero-tag.st{
  animation-delay: 1s;
}
.dev_hero-tag.rd{
  animation-delay: 1.5s;
}
.dev_hero-tag.nd{
  border-left: 1px solid ;
  border-right: 1px solid ;
  animation-delay: 2s;
}

/* Technologies */

.dev_tech{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* Icons grid */
.dev_tech-icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    width: 100%;
    justify-items: center;
    align-items: center;
}
  
  .dev_tech-icon-container {
    display: flex;
    padding: 1rem;
    width: 100%;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    border-radius: 4px;
    background-color: var(--dark-gray);
    box-sizing: border-box;
  }
  
  .dev_tech-icon {
    display: flex;
    align-items: center;
    font-size: 4rem; /* Adjust the size as needed */
    color: #ffffff; /* Dark grey outline for the icons */
  }
  .dev_tech-icon-container p{
    color: var(--gray);
    margin: 0;
  }
  /* Info */

.dev_info-section{
  display: flex;
  box-sizing: border-box;
  width: 100%;

  padding: 1rem;
  margin: 4rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev_info-header{
  color: var(--gray);
  margin: 2rem 0;
}
.dev_info-container{
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  align-items: center;
}

  
.dev_info-interactive-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.dev_info-interactive-option{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  background-color: black;
  border: 3px  solid var(--orange);
  border-width: 0px 2px;
  border-radius: 0px;
}
.dev_info-interactive-movable{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.dev_info-interactive-option.disabled{
  animation: shrink 1s ease-in-out forwards;
  animation-delay: .1s;
}

@keyframes shrink {
  0%{height: auto;}
  100%{height: 0;
  flex: 0;
  display: none;}
}


.dev_info-interactive-modal{
  display: flex;
  height: 100%;/* Animation display */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dev_info-modal-arrow{
  display: flex;/* animation Display */
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  position: absolute;
  border-radius: 100%;
  top: -.5rem;
  left: 0rem;
  color: white;
}


.dev_info-interactive-modal h4{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
  
@media (min-width: 768px) {
  .dev_info-interactive-container{
    flex-direction: row;
  }
  .dev_info-interactive-option{
    height: 100%;
  }
  .dev_info-interactive-movable{
    height: 100%;
  }
  @keyframes shrink {
    0%{width: 100%;}
    100%{width: 0;
    flex: 0;
    display: none;}
  }
}  

  /* Projects */

.dev_projects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    /* padding: 2rem; */
  }
.dev_projects-grid{
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;

}
  
.dev_pro-card{
  display: flex;
  width: 100%;
  padding-right: 1rem;
  box-sizing: border-box;
}

.dev_pro-card-line-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 1rem;
}
.dev_pro-card-line{
  width: 2px;
  background-color: var(--gray);
  height: 100%;
}
.dev_pro-card-line.circle{
  width: 15px;
  height: 15px;
  border-radius: 25px;
  border: 6px   solid black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}
.dev_pro-card-line.highlighted{
  background-color: var(--orange);
}
.dev_pro-card-info-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dev_pro-card-info-container-div{
  flex: 1;
}
.dev_pro-card-info-title{
  font-size: 2rem;
}
.dev_pro-card-info-tags-container{
  display: flex;
  gap: 2rem;
}
.dev_pro-card-info-tag{
  display: flex;
  border: 1px solid var(--orange);
  padding: 5px;
  color: var(--orange); 
}
.dev_pro-card-info-description{
  font-family: "Roboto";
}
.dev_pro-card-info-tag.button{
  display: inline-block;
  padding: 1rem;
  border-radius: 0;
  background-color: black;
  margin: 1rem 0;
}
.dev_pro-card-img{
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .dev_pro-card-info-container{
    flex-direction: row;
  }
}