.dev_main{
    background-color: black;
    display: flex;
    width: 100%;
    flex-direction: column;
 /*    align-items: center; */
    box-sizing: border-box;
}
.dev_hero{
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
}
.dev_hero-video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}
.dev_hero-video-container img{
    width: 100%;
}

/* Technologies */

.dev_tech{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.dev_tech-title-container{
    text-align: center;
    letter-spacing: .5rem;   
    margin-bottom: 4rem;
}

/* Icons grid */
.dev_tech-icon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    width: 100%;
    justify-items: center;
    align-items: center;
}
  
  .dev_tech-icon-container {
    display: flex;
    padding: 1rem;
    width: 100%;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    border-radius: 4px;
    background-color: var(--dark-gray);
    box-sizing: border-box;
  }
  
  .dev_tech-icon {
    display: flex;
    align-items: center;
    font-size: 4rem; /* Adjust the size as needed */
    color: #ffffff; /* Dark grey outline for the icons */
  }
  .dev_tech-icon-container p{
    color: var(--gray);
    margin: 0;
  }
  
  /* Projects */

.dev_projects{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    /* padding: 2rem; */
  }
.dev_projects-grid{
  margin-bottom: 6rem;
}
  
.dev_pro-card{
  display: flex;
  width: 100%;
  padding-right: 1rem;
  box-sizing: border-box;
}
.dev_pro-card-line-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 1rem;
}
.dev_pro-card-line{
  width: 2px;
  background-color: var(--orange);
  height: 100%;
}
.dev_pro-card-line.circle{
  width: 15px;
  height: 15px;
  border-radius: 25px;
  border: 6px   solid black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}
/* .dev_pro-card-info-container{

} */
.dev_pro-card-info-title{
  font-size: 2rem;
}
.dev_pro-card-info-tags-container{
  display: flex;
  gap: 2rem;
}
.dev_pro-card-info-tag{
  display: flex;
  border: 1px solid var(--orange);
  padding: 5px;
  color: var(--orange); 
}
.dev_pro-card-info-description{
  font-family: "Roboto";
}
.dev_pro-card-info-tag.button{
  padding: 1rem;
  border-radius: 0;
  background-color: black;
  margin: 1rem 0;
}
.dev_pro-card-img{
  width: 100%;
}